#prompt {
    border: 1px solid black;
    background-color: black;
    width: 50vw;
    height: 50vh;
    overflow: auto;
    overflow-anchor: none;
}

#output {
    margin: 0 0 0 5px;
    padding: 0;
    font: 1.75em monospace;
    color: whitesmoke;
}

#textbox {
    margin-top: 2px;
    width: 49vw;
}